<a href="/">Home</a>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<body>
    <h1>My Astro Site</h1>
    <h1>About Me</h1>
    <h2>shitty placeholder text</h2>
  
    <p>I cant come up with more placeholder text</p>
  
    <p>Never going to give you up never going to let you down</p>
  </body>